@media screen and (max-width: 1800px) {
  div .navigation li {
    margin-right: 5%;
  }
}
@media screen and (max-width: 1622px) {
  footer {
    font-size: 10.4px;
  }
  footer .contact p:last-child {
    font-size: 14.4px !important;
  }
}
@media screen and (max-width: 1553px) {
  div .navigation {
    padding-left: 2.5%;
  }
  div .navigation li {
    margin-right: 2.5%;
  }
  div .navigation li a {
    font-size: 10.4px;
  }
  div .contacts li {
    font-size: 12.8px;
  }
}
@media screen and (max-width: 1280px) {
  footer {
    font-size: 9.1px;
  }
  footer .row div {
    padding: 0;
    margin: 0;
  }
  footer .contact p:last-child {
    font-size: 12.6px !important;
  }
}
@media screen and (max-width: 1053px) {
  footer .row div.logo-footer .media .media-body h4 {
    line-height: 20px;
  }
}
@media screen and (max-width: 1021px) {
  div .navigation li {
    margin-right: 1%;
  }
  div .contacts li {
    font-size: 9.6px;
  }
}
@media screen and (max-width: 991px) {
  div.nav-container {
    background: #bda67c;
    height: 120px;
  }
  div.nav-container div {
    padding: 0;
    margin: 0;
  }
  div.nav-container div .navigation {
    transform: translateX(-2000px);
    height: 100%;
    width: 100%;
    background: #282828;
    -webkit-transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -ms-transition: transform 0.8s;
    -o-transition: transform 0.8s;
    transition: transform 0.8s;
    position: fixed;
    z-index: 1000000;
    padding: 100px 0;
    text-align: center;
    overflow: scroll;
  }
  div.nav-container div .navigation li {
    display: block;
    margin-bottom: 50px;
  }
  div.nav-container div .navigation li a {
    font-family: 'proximanovalight';
    font-size: 30px;
    color: #ffffff;
    position: relative;
    display: inline-block;
  }
  div.nav-container div .navigation li a::after {
    display: none;
  }
  div.nav-container div .navigation li a.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    display: block;
    background: #bda67c;
    bottom: -4px;
  }
  div.nav-container div .navigation.visible-menu {
    transform: translateX(0);
  }
  div.nav-container div .navigation .close-toggle {
    position: absolute;
    top: 40px;
    right: 30px;
  }
  div.nav-container div #mobileMenuToggle {
    padding: 40px 40px;
  }
  div.nav-container div #mobileMenuToggle span {
    width: 40px;
    height: 4px;
    display: block;
    background: #ffffff;
    margin-bottom: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  div.nav-container .logo-header img {
    display: block;
    margin: 0 auto;
  }
  div.nav-container .contact-mobile {
    padding: 40px 40px;
  }
  .gallery-main .container-fluid .row div {
    height: 235px;
  }
  .news-main h1 {
    font-size: 48px;
  }
  .main-services {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .ser-text-content p:first-child {
    padding: 0 5%;
  }
  .ser-text-content p:nth-child(2) {
    padding: 0 5%;
  }
  h1 {
    font-size: 50px;
  }
  .capt {
    font-size: 50px;
    margin: 25px 0 45px 0 !important;
  }
  #myCarousel {
    padding-top: 120px;
  }
  #myCarousel .carousel-indicators {
    bottom: 0;
    top: 90% !important;
    left: 49.9% !important;
  }
  #myCarousel .carousel-indicators li {
    transform: none !important;
  }
  #myCarousel .carousel-inner .item {
    height: 560px;
  }
  #myCarousel .carousel-inner .item .carousel-caption {
    top: 150px;
    left: 10%;
    width: 80%;
  }
  #myCarousel .carousel-inner .item .carousel-caption h1 {
    font-size: 54px;
  }
  #myCarousel .carousel-inner .item .carousel-caption h2 {
    font-size: 35px;
    font-family: 'unisanscaps';
  }
  #myCarousel .carousel-inner .item .carousel-caption .more-btn a {
    width: 230px;
    border-color: #ffffff;
    padding: 15px 0;
  }
  #reviewCarousel {
    background-position: 50% 10% !important;
  }
  .review {
    max-height: 670px;
  }
  .review-content p:first-child {
    padding: 0 5% !important;
  }
  .review-content p:last-child {
    padding: 0 7% !important;
  }
  .main {
    margin-bottom: 60px;
  }
  .main .row .right-main-block {
    position: relative;
    top: auto;
    min-height: 550px;
    max-height: 800px;
    height: auto;
  }
  .main .left-main-block a div {
    background-position: 5% 45% !important;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .gallery {
    padding: 0;
    margin: 0;
  }
  .gallery h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 45px;
    margin-top: 45px;
  }
  .gallery .row {
    margin-bottom: 50px;
  }
  .gallery .row .col-xs-6 {
    height: 250px !important;
    border: 0.5px solid #ffffff !important;
  }
  .adventage .row div {
    padding: 0;
    margin: 0;
    min-height: 170px;
    max-height: 250px;
    height: auto;
    padding: 0 5% 0 5%;
    margin-bottom: 50px;
  }
  .adventage .row div h1 {
    font-size: 70px;
  }
  .mobile-news {
    min-height: 640px;
    max-height: 900px;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .mobile-news .row {
    background: #f5f5f5;
    padding: 0;
    margin: 0;
    padding-top: 60px;
    padding-right: 10%;
  }
  .mobile-news .row div .caption {
    font-size: 50px;
  }
  .mobile-news .row div .date {
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
  }
  .mobile-news .row div .date a {
    text-decoration: none;
    color: #3b3b3b;
    cursor: auto;
  }
  .mobile-news .row div .date a h2 {
    font-family: 'unisanscaps';
    font-size: 54px;
  }
  .mobile-news .row div .date .media-body {
    font-family: 'proximabold';
    vertical-align: bottom;
    padding-bottom: 6px;
  }
  .mobile-news .row div .date .media-body h4 {
    font-size: 16px;
  }
  .mobile-news .row div .date .media-body p {
    color: #aeaeae;
  }
  .mobile-news .row div .small-capt {
    font-family: 'proximabold';
    font-size: 18px;
  }
  .mobile-news .row div .content {
    line-height: 1.7;
  }
  .mobile-news .row div.right-news {
    margin-bottom: 35px;
  }
  .mobile-news .row div.left-news {
    margin-bottom: 60px;
  }
  footer {
    padding-top: 0 !important;
  }
  footer.contact-footer {
    margin-top: 50px;
    padding-bottom: 0;
  }
  footer div {
    display: block !important;
  }
  footer div div {
    padding-left: 5% !important;
  }
  footer .social-footer {
    margin-top: 10px !important;
    padding: 40px 0 !important;
    border: 1px solid #f5f5f5;
  }
  footer .social-footer div {
    margin-left: 2.5%;
  }
  .contact-main .contact-block {
    position: relative !important;
    height: auto !important;
  }
  .contact-main .contact-block .row div {
    height: auto !important;
    margin-bottom: 50px;
  }
  .contact-main .contact-block .row div:first-child {
    margin-top: 75px;
  }
  .contact-main .contact-block .row div:last-child {
    margin-bottom: 75px;
  }
  #map {
    height: 400px;
  }
  .contact-form {
    width: 100%;
  }
  .contact-form .form-block {
    width: 100%;
  }
  .contact-form .row form {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: 100%;
  }
  footer.contact-footer:not(.foot) {
    margin-top: 50px !important;
    padding-top: 0 !important;
  }
  footer.foot {
    margin-top: 150px !important;
    padding-top: 0 !important;
  }
  footer div {
    display: block !important;
  }
  footer div div {
    padding-left: 5% !important;
  }
  footer .social-footer {
    margin-top: 10px !important;
    padding: 40px 0 !important;
    border: 1px solid #f5f5f5;
  }
  footer .social-footer div {
    margin-left: 2.5%;
  }
  .contact-main {
    margin-top: 30px !important;
  }
  .contact-main h1 {
    font-size: 48px;
  }
  .contact-main h1::before {
    left: 26%;
    width: 30px;
  }
  .contact-main h1::after {
    right: 26%;
    width: 30px;
  }
}
@media screen and (max-width: 758px) {
  .news-main {
    padding: 0;
    margin: 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }
  .news-main .news-content div {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }
}
@media screen and (max-width: 500px) {
  .review #reviewCarousel-2 {
    padding: 0 5%;
    font-size: 12.8px;
  }
}
@media screen and (max-width: 440px) {
  .main .left-main-block .row div {
    width: 100%;
  }
  #myCarousel .carousel-inner .item {
    height: 650px !important;
  }
}
@media screen and (max-width: 410px) {
  .capt {
    font-size: 40px !important;
    padding: 0 !important;
    background: none !important;
  }
}
.align-block {
  text-align: center;
}
@media screen and (max-width: 383px) {
  .news-main .capt {
    background: none;
  }
}
@media screen and (max-width: 320px) {
  .services-block .row div {
    width: 100%;
  }
}
