.news-content div.col-md-6 {
  border: 1px solid #ebebeb;
  padding: 75px 5%;
  margin-bottom: -1px;
  margin-left: -1px;
  min-height: 450px;
  max-height: 550px;
  height: auto;
}
.news-content .media .media-left {
  text-decoration: none;
  color: #3b3b3b;
  cursor: auto;
}
.news-content .media .media-left h2 {
  font-size: 54px;
}
.news-content .media .media-body {
  vertical-align: bottom;
  padding-bottom: 3px;
  font-family: 'proximabold';
}
.news-content .media .media-body h4 {
  font-size: 16px;
}
.news-content .media .media-body p {
  color: #aeaeae;
  font-size: 19.2px;
}
.news-content .small-capt {
  font-family: 'proximabold';
  font-size: 16px;
}
.news-content .small-capt p {
  font-family: 'proximabold';
  color: #000000;
}
.news-content .content p {
  font-family: 'proximareg';
}
.news-content hr {
  border-color: #000000;
  width: 50px;
  margin-right: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.pagination-container {
  text-align: center;
}
.pagination-container .pagination {
  margin: 50px auto;
}
.pagination-container .pagination li a {
  padding: 7px 15px;
  font-size: 19.2px;
  border: none;
  color: #000000;
  font-family: 'proximabold';
  background: transparent;
  border-radius: 0;
}
.pagination-container .pagination li.active a {
  border: 1px solid #bda67c;
  background: transparent;
  color: #000000;
}
